html, body {
  font-family: Consolas, 'Courier New', sans-serif;
}

.btn {
  margin: 4px 8px 4px 0px;
  padding: 6px;
  font-size: 1rem;
  min-width: 96px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: white;
  background-color: grey;
}

.h2-lable > h2 {
  margin: 4px 0;
}
.h2-lable > hr {
  margin: 4px 0;
}

.text-highlight {
  font-weight: bold;
  padding: 0 4px;
}



#main-view {
  padding: 0px 16px 96px 16px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (orientation: landscape) {
  #main-view {
    width: 360px;
  }
}



#site-title {
  padding: 24px 0;
}

#app-container > * {
  margin: 16px 0;
}

#key-input-wrapper > *, #text-input-wrapper > * {
  display: block;
  margin: 5px 0;
}

#key-input, #text-input {
  font-family: Consolas, 'Courier New', sans-serif;
  font-size: 1rem;
  padding: 5px;
  line-height: 1.2rem;
}

#key-input {
  resize: none;
}



#help-container, #api-container {
  margin-top: 96px;
  width: 100%;
}