html, body {
  font-family: Consolas, 'Courier New', sans-serif;
}

#main-view {
  padding: 0px 16px 96px 16px;
  margin: 0 auto;
  width: 88%;
}
@media screen and (orientation: landscape) {
  #main-view {
    width: 480px;
  }
}


.btn {
  margin: 4px 8px 4px 0px;
  padding: 6px;
  font-size: 16px;
  min-width: 108px;
  height: 36px;
  background-color: rgb(254, 254, 254);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: white;
  background-color: grey;
}

.h2-lable > h2 {
  margin: 4px 0;
}
.h2-lable > hr {
  margin: 4px 0;
}

.text-highlight {
  font-weight: bold;
  padding: 0 4px;
}

.container {
  width: 100%;
}


#site-title {
  padding: 8px 0;
  font-size: 3.4em;
}

#app-container > * {
  margin: 24px 0;
}

#key-input-wrapper > *, #text-input-wrapper > * {
  display: block;
  margin: 5px 0;
}

#key-input, #text-input {
  font-family: Consolas, 'Courier New', sans-serif;
  font-size: 1rem;
  padding: 5px;
  line-height: 1.2rem;
}

#key-input {
  width: 32%;
  resize: none;
}

#text-input {
  width: 97%;
  height: 13em;
}



#help-container, #api-container {
  margin-top: 120px;
  width: 100%;
}